*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.hero-section {
    color: white;
    background-image: url(./image/hero_1.jpg.webp);
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}

.nav-items a{
    color: white;
    text-decoration: none;
    margin-top: 35px;
}

.text-white h3{
    font-size: 25px;
}



.header-theme {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    padding-left: 6rem;
    margin-top: 70px;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-left: 8rem;
    margin: 30px;
}

.btn {
    border-radius: 20px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.first-feature h2{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: orangered;
}

.sub-heading {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 40px;
}
.first-feature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    column-gap: 20px;
}

.gallery-1 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    position: relative;  
    left: 30px;
}

.img-2 {
    position: relative;
    top: 40px;
}

.hero-section h3{
    margin-top: 45px;
}

.btn-2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: orangered;
    font-size: 16px;
    border-radius: 25px;
    border: orangered;
    color: white;
    height: 46px;
    width: 8rem;
     padding-top: 15px;
    padding-bottom: 30px;
}

.work-1 {
    display: flex;
    margin-top: 200px;
    color: orangered;
    font-size: 16px;
}

.header-2{
    font-size: 40px;
}

#work-11-section {

}

.work-11 {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;


}

.image {
    padding-top: 50px;
    display: flex;
    column-gap: 27px;
}

.img-1 {
    padding-top: 20px;
}

.img-12 {
    padding-top: 20px;
}

.img-3 {
    padding-top: 20px;
}

.price {
    background-color: white;
    height: 100px; 
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;   
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.082);
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
}

.image-box {
    position: relative;
}

.price-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}